<div class="culinarystyle-show">
  <div class="cl-banner" style="background-image: url(<%= cloudinary_url @culinarystyle.banerpic.path, ĥeight: 300, crop: :fill; %>)">
    <h1><%= @culinarystyle.name.capitalize %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <div class="logo-spec text-center">
        <% if @culinarystyle.fontpic? %>
          <%= cl_image_tag @culinarystyle.fontpic.path, height: 150, crop: :fill %>
        <% end %>
      </div>
    </div>
    <br>
    <br>
    <div class="col-xs-12 col-sm-8">
      <p><%= @culinarystyle.description %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-2">
      <div class="logo-spec text-center">
        <h2>Spécialité:</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
    <br>
    <% @dishes.each do |dish|%>
      <%= dish.name %> -
    <% end %>
      <p><%=  %></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @dishes.each do | dish | %>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <%= render "/dishes/card", dish: dish, culinarystyle: @culinarystyle %>
      </div>
    <% end %>
  </div>
</div>
<%= render "module" %>

<%= link_to "Delete", culinarystyle_path(@culinarystyle),
      method: :delete,
      data: { confirm: "T'es sur de vouloir supprimer un DISH ??? je vais te casser la tête !!!" } %>
